// globales



/* index.html */

/* header */

.nave{

    text-decoration: none;
    margin-top: 10px;
}

.barra{

    padding-top: 80px;

    margin : {

        bottom: 0px;
        right: 30px;
        left: 30px;

    }
    
}

@media (min-width: 768px) {

    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}



.fondo{

    background-color: #ecfb05;
    padding: 10px;
    border: solid 1px black;
    
}

.centrar-texto{

    text-align: center;
}

h1{

    color: #000;
    text-align: center;

    font : {
        family:'Cardo', serif;
        weight: 570px;
        size: 50px;
    }
 
}



.navegacion-principal{
    
  a{
      font : {
          size:20px;
          family:'Cardo', serif;
          weight:400px;
      }
        color: #000;
        text-decoration: none;
       
        /* filter: blur(0px); */
   
    }
}


/* .navegacion-principal a:hover{
    background-color: #000;
    color: #fff;
    padding: 3px 10px;
    text-transform: uppercase;
    border-radius: 2px;
    width: 90%;

  filter: blur(8px);
  transition: all 2s;
} */



.navegacion-principal {
    
 ul {
        list-style: none;
        margin-top: 40px;
        display: block;
        text-align: center;
    }
} 
  
 



@media (min-width: 768px) {

    .navegacion-principal ul{
        display: flex;
        gap: 10px;
    }
}


/* MAIN */




.bg{

    background : {
        image:  url(../img/background.jpg);
        color:rgba(0, 0, 0, 0.7);
        repeat: no-repeat;
        size: 1200px;
    }

    background-blend-mode: darken;
    height: auto;
    position: relative;
    padding: 100px 100px;
    
}

@media(min-width:540px){
    .bg{

        background : {
            image:  url(../img/background.jpg);
            color:rgba(0, 0, 0, 0.7);
            repeat: no-repeat;
            size: cover;
        }
    
        background-blend-mode: darken;
        height: 900px;
        position: relative;
        padding: 200px 100px;
        
    }  
}

.titulo{
    color: #ffffff;
    font-family: 'Cardo', serif;
    font-weight: 10;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -80px;
}

@media(min-width:540px){
    .titulo{
        color: #ffffff;
        font-family: 'Cardo', serif;
        font-weight: 10;
        font-size: 60px;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* .hero:before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
} */


h2{

    font : {
        family:'Cardo', serif;
        size:60px;
        weight:10px;
    }

    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    
}




.contenedor__presentacion{

    margin-top: 80px;
    width: 100%;
}

@media(min-width:540px){
    .contenedor__presentacion{

        margin-top: 100px;
        width: 100%;
    }
}

.contenedor__imagen{
    max-width: 100%;
    height: 300px;
}

@media(min-width:540px){
    .contenedor__imagen{
        max-width: 100%;
        height: 30rem;
    }
}

.contenedor__presentacion {

    p {
        color: #ffffff;
        font: {
            size: 20px;
            decoration: none;
            family:'Cardo', serif;
            weight: 400px;
        }

        text-align: center;
        word-spacing: 5px;
    } 

}



.album__canciones{

    a {
        color: #ffffff;
        
        font: {
            size:20px;
            family:'Cardo', serif;
            weight:400px;
        }
    
        text-decoration: none;
        /* word-spacing: 5px; */
        filter: blur(0px);

    } 

}

.album__canciones:hover{
    filter: blur(8px);
    transition: all 2s;
    cursor: pointer;
}


span{
    color: #ecfb05;
    font-size: 15px;
}

.contenedor{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
   
}

.album{
    margin-top: 100px; 
    display: inline-block;
    text-align: center;
}

/* footer */


.redes{
    display: flex;
    justify-content: center;
    /* margin-left: 400px; */
   
    gap: 20px;
}

.piso{
    background-color: #000;
    padding: 30px;

}

/* THEBAND.HTML */


.main__banda{

    background : {

        image: url(../img/banda3.jpg);
        size:cover;
        attachment:fixed;
    }

    height: 800px;
    width: 100%;

   
}

@media (min-width:768px){
    .main__banda{

        background : {
    
            image: url(../img/banda3.jpg);
            size:cover;
            attachment:fixed;
        }
    
        height: 700px;
        width: 100%;
    
       
    }
}



.banda__info{

    font: {
        family:'Cardo', serif;
        size:15px;
    }

    font-weight:40px;
    color: #ffffff;
    text-align: center;
    
}

@media (min-width:768px){
    .banda__info{

        font: {
            family:'Cardo', serif;
            size:20px;
        }
    
        font-weight:40px;
        color: #ffffff;
        text-align: center;
        
    }

}




.banda__titulo{

    font : {
        family:'Cardo', serif;
        weight:300px;
        size:50px;
    }

    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    padding: 15px;
}

@media (min-width:768px){
    .banda__titulo{

        font : {
            family:'Cardo', serif;
            weight:570;
            size:80px;
        }
    
        color: #fff;
        text-align: center;
        margin-bottom: 80px;
    }
}


.integrantes{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    column-gap: 10px;
    background-color: #000;
    justify-items: center;
    margin-top: 10px;
    
}

@media (min-width: 768px) {
    .integrantes{
        grid-template-columns: repeat(4,1fr);
    }
    
}

.fondo2{
    background-color:#ffb4d2;
    padding: 10px;
    border: solid 1px black;
}

.bg2{
    /* background-image: url(../img/pantone.jpg);
    height: 83rem;
    
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: #ffb4d2;
    

}

.piso2{
    background-color: #000;
    padding: 40px;

}



.discografia__titulo{
    padding-top: 40px;
}

.integrante__foto{
    margin-top: 40px;
}

 .tabla{
    height: 10px;
    
 }
.img__tabla{
    height: 200px;
    width: 200px;
}

.tabla__texto{
    font-family:'Cardo', serif;
    color: #000;
    font-size: 20px;
}

.banda__texto{
    color: #000;
    font-family:'Cardo', serif ;
    font-size: 45px;
    padding: 20px;

}

@media (min-width:768px){
    .banda__texto{
        color: #000;
        font-family:'Cardo', serif ;
        font-size: 60px;
        padding: 20px;
    }
}


.resumen {
    p{
        font: {
            size:20px;
            family:'Cardo', serif;
            weight:400;
        }
        color: #000;
        text-decoration: none;
        
    }
} 


/* tour.html */

.fondo3{
    background-color: #000;
    padding: 10px;
    border: solid 1px wheat;
    
} 

.navegacion-principal3 {

    ul{
        list-style: none;
        margin-top: 40px;
        display: block;
        text-align: center;
    }
} 


@media (min-width: 768px) {
    .navegacion-principal3 ul{
        display: flex;
        gap: 10px;
    }
}



.navegacion-principal3 {

    a{
        color: wheat;
        font-size: 20px;
        text-decoration: none;
        color: wheat;
    
    } 
}

 
.centrar-texto3{

    font: {
        family:'Cardo', serif;
        weight:570;
        size: 50px;;
    }
    text-align: center;
    color: wheat;
   
   
}

.nave3{
    text-decoration: none;
    margin-top: 10px;
}

.parallax{
    background: {
        image: url(../img/background2.jpg);
        repeat:repeat;
        color:rgba(0, 0, 0, 0.7);
        attachment:fixed;

    }
   
    /* background-size: cover; */
    /* width: 300px; */
    height: 520px;
    background-blend-mode: darken;
    justify-items: center;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

.banner1{
    height: 100px;
}



.titulo3{

    font: {
        family:'Cardo', serif;
        weight:200px;
        size:40px;
    }

    color: #fff;
    text-align: center;
    margin-top: 120px;
    
    /* margin-bottom: 50px; */
    /* padding-top: 50px; */


}

@media (min-width: 380px) {
    .titulo3{
        font-size: 60px;
    }
 
}
@media (min-width: 768px) {
    .titulo3{
        font-size: 80px;
    }
 
}



.piso3{
    
        background-color:wheat;
        padding: 40px;
        border: solid black;
    
    
}

.tour__foto{
    height: 300px;
    
}

.tour__contenedor{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 40;
   
     /* margin-left: 200px; */
}

.boton__tour{
    /* display: flex;
  
  justify-content: center; */
  margin-left: 500px;
}

.contenedor__fechas{
    background-color: wheat;
    display: block;
}

.fechas{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


@media (min-width: 768px) {
    .fechas{
     display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    gap: 20px;
    }

 
}
.boton__fecha{
    background-color: transparent;
    padding: 10px 20px;
    border: solid white 1px;
    text-transform: uppercase;
    font-family: 'Cardo',serif;
    font-size: 30px;
    color: white;
    border-radius: 5;
    text-align: center;
}

.boton__fecha:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.fechas__ciudad{

    font-family:'Cardo' , serif;
    font-size: 30px;
    color: white;
    
}

@media (min-width: 380px) {
    .fechas__ciudad{
        font-family:'Cardo' , serif;
        font-size: 60px;
        color: white; 
    }
    
}

@media (min-width: 768px) {
    .fechas__ciudad{
        font-family:'Cardo' , serif;
        font-size: 80px;
        color: white; 
    }
 
}
.span__fechas{
    font-family:'Cardo' , serif;
    font-size: 50px;
    color: wheat;

}

@media (min-width: 768px) {
    .span__fechas{
        font-family:'Cardo' , serif;
        font-size: 80px;
        color: wheat;
    }
 
}

.redes__tour{
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* merch.html */

.contenedor__merch{

    margin: 0  0 ;
    background-color:black;   
 
 }

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  @media (min-width: 380px) {
      .grid{
          grid-template-columns: repeat(2, 1fr);
      }
   
  }
  @media (min-width: 768px) {
      .grid{
          grid-template-columns: repeat(3,1fr);
      }
  }



.producto__precio{
    font-size: 30px;
    font-family: 'Cardo', serif;
    color: black;
    margin: 20px ;
    text-align: center;
    line-height: 10.5px;
     
}

.producto{
    
    background-image: radial-gradient(circle at 37.72% 119.64%, #ffff64 0, #ffff56 16.67%, #ffff48 33.33%, #f2f23c 50%, #bfce31 66.67%, #94ad28 83.33%, #6f9021 100%);
     padding: 10px;
     height: 240px;
}

@media (min-width:600px) {
    .producto{
        background-image: radial-gradient(circle at 37.72% 119.64%, #ffff64 0, #ffff56 16.67%, #ffff48 33.33%, #f2f23c 50%, #bfce31 66.67%, #94ad28 83.33%, #6f9021 100%);
         padding: 10px;
         height: 305px;
    }
}

.producto__imagen{
  width: 150px;
  transition: width 1s;
}
@media (min-width:600px) {
    .producto__imagen{
        width: 200px;
        transition: width 1s;
        
    }
}

.producto__imagen:hover{
    width: 180px;
}

@media (min-width:600px) {
    .producto__imagen:hover{
        width: 250px;
      
        
    }
}


.piso4{
    padding: 30px;
    background-image: radial-gradient(circle at 120.71% 50%, #ffff67 0, #ffff57 16.67%, #ffff49 33.33%, #f2f23c 50%, #bccc31 66.67%, #8faa28 83.33%, #698c20 100%);
    border: black solid 2px;
}

/* PHOTOS.HTML */

.fondo4{
    padding: 10px;
    
}
.newsletter{
    width:min(90, 1200px);
    margin:0 auto;
    background-color: grey;
}

.contacto-bg{
    background-image: url(../img/banda2.jpg);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.formulario{
    background-color: #000;
    margin: -50px auto 0 auto;
    width: 95%;
    padding: 50px;
    border: solid 1px grey;

}

.campo{ 
    display: inline-grid;
    margin-bottom: 20px;
  
}

@media (min-width: 768px) {
    .campo{
        display: flex;
    }
 
}


.campo__label{
    flex: 0 0 90px;
    font-family:'Cardo', serif; 
    color:white;
   
}

.campo__field{
    flex: 2; 
    border: 1px solid gray;
    font-family: 'Cardo', serif;;
    
}

.campo__field--textarea{
    height: 80px;

}